
<h1>My Tasks</h1>

<ul class="pb-4 border-bottom border-secondary-light">
  <% @tasks.each do |task| %>
  <div>
    <% if task.completed == true %>
      <div class="d-flex">
        <li class="list-item pr-2"> <input type="checkbox" checked> <%= link_to "#{task.title}", task_path(task.id) %></li>
        <%= link_to task_path(task.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
        <i class="fa-regular fa-trash-can ms-3"></i>
        <% end %>
      </div>
    <% else %>
      <div class="d-flex">
        <li class="list-item pr-2"> <input type="checkbox"> <%= link_to "#{task.title}", task_path(task.id) %></li>
        <%= link_to task_path(task.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
        <i class="fa-regular fa-trash-can ms-3"></i>
        <% end %>
      </div>
    <% end %>
  </div>
  <% end %>
</ul>
<%= link_to "+ Add a new task", tasks_new_path %>
